 body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background: lightgrey;
  }
  footer{
    display: flex;  
    margin-left: 45%;
    height: 3vh;
    position: fixed;
    bottom: 0;
  }
  #container-poped{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  
  .container{
    background: white;
    min-height: 50vh;
    max-height: 82vh;
    display: flex;
    flex-direction: column;
  }
  .list-header{
    display: flex;
    justify-content: space-evenly;
  }
  .head1{
    display: flex;
  }
  #header1{
    font-size: 3.6rem;
    font-weight: bold;
    font-family: sans-serif;
    color: #2d2e2e;
  }
  #header2{
    font-size: 2.6rem;
    color: grey;
    font-weight: lighter;
    font-family: sans-serif;
    padding-left: 6%;
    margin-top: 6%;
  }
  #header3{
    align-self: center;
    margin-left: 40%;
    font-size: 2.6rem;
    color: grey;
    font-weight: lighter;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
  }
  #header3 i{
    color:#ff6161;;
    margin-right: 0.5vw;
  }
  #header3 i:hover{
    font-size: 4.5vh;
    color:#ff6161;
  }
  .list-body{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 0 1vw 1vw 0;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .list-body::-webkit-scrollbar{
    display: none;
  }
  .list{
    border: thin solid #ff6161;
    border-radius: 5%;
    height: 42vh;
    padding: 1vh 0 1vh 1vw;
    box-shadow: .5vw .5vw rgb(11 100 100);
    flex-basis: 25%;
    margin: 7px;
  }
  .list:empty{
    visibility: hidden;
    flex-basis: 0%;
  }
  .list-name, .list-name>a{
    text-decoration: none;
    color: #ff6161;
    font-size: 4vh;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  .list-name, .list-name>a:hover{
      font-size: 1.6rem;
  }
  .list-tasks{
    font-size: 4vh;
    font-family: monospace;
    color: #4d4f4f;
  }
  .list-tasks input[type="checkbox"]{
    transform: scale(1.5);
    position: relative;
    bottom: 20%;
  }
  .list-tasks input:checked + lable{
    color: #ff6161;
    text-decoration: line-through;
  }
  .list-tasks input:checked {
    opacity: 5%;
  }
  footer a{
    text-decoration: none;
    color: #222324;
    height: inherit;
    bottom: 0;
    padding: 4px;
  }
  
  footer a:hover{
    color: #f77979;
    font-size: 2.5vh;
  }
  
  /* pop-up */
  
  .poped{
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }
  .pop-up {
    align-self: center;
    margin: 0 auto;
    background: white;
    border: thin solid #ff6161;;
    border-radius: 4%;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
  }
  .pop-up-heading{
    display: flex;
    align-items: center;
  }
  
  /* add-task pop-up */
  #add-task:target{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 1;
  }
  #add-task > a{
    display: block;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
  #add-task .pop-up{
    min-width: 35vw;
    min-height: 25vh;
    z-index: 2;
  }
  #add-task .pop-up-heading{
    justify-content: center;
    font-size: 3vh;
    font-family: sans-serif;
    color: #ff6161;
    height: 7vh;
    align-items: center;
  }
  #add-task .pop-up-body {
    font-size: 3vh;
    font-family: sans-serif;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
  }
  #add-task .pop-up-body > input[type="text"]{
    height: 5vh;
    width: 31vw;
    font-size: 2.5vh;
    align-self: center;
    border: thin solid #ff6161;;
    border-radius: 1vh;
  }
  #add-task .pop-up-body > input[type="text"]:focus{
    outline-color: #ff5959;
    font-size: 3vh;
    font-family: sans-serif;
  }
  #add-task .pop-up-body > button{
    height: 6vh;
    width: 9vw;
    font-size: 1.8vw;
    align-self: center;
    background: #ff6161;
    border-radius: 25vh;
    border: 0;
    font-family: sans-serif;
    color: white;
  }
  #add-task .pop-up-body > button:hover{
    width: 8vw;
    font-size: 1.5vw;
    background: #ff5959;
    box-shadow: 0.6vw 0.3vh rgb(0 0 0 / 5%);
  }
  #add-task .pop-up-body > button:active{
    height: 5vh;
    width: 7vw;
    font-size: 1.3vw;
    background: #f05151;
    box-shadow: 1vw 0.2vh rgb(0 0 0 / 5%);
  }


  /* media quary */
  @media (max-width: 450px) {

    #header1{
      font-size: 2.6rem;
    }
    #header2{
      font-size: 1.6rem;
    }
    #header3{
      font-size: 1.6rem;
      margin-left: 9%;
    }


    .list-body{
   display: block;
    }
    .inside{
      display: none;
    }
    .list{
      margin: 15px;
      height: 10vh;
    }
    .footer{
      margin-left: 34%;
    }
  }